<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{{ if not .IsHome }}{{ .LinkTitle }} - {{ end }}{{ .Site.Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}" />{{ end }}

	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}" type="text/css" media="all" />

	{{ with .OutputFormats.Get "rss" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

</head>

<body>

<main class="content">
