{{- /* SEO: description, canonical, robots, Open Graph, Twitter cards, JSON-LD.
       Reads optional site params: author, defaultImage, twitter (handle, no @).
       Posts can set front matter: description, image, lastmod. */ -}}

{{- $desc := "" -}}
{{- if .Description -}}
  {{- $desc = .Description -}}
{{- else if and .IsPage .Summary -}}
  {{- $desc = .Summary -}}
{{- else -}}
  {{- $desc = .Site.Params.description -}}
{{- end -}}
{{- $desc = $desc | plainify | chomp | truncate 200 -}}

{{- $img := "" -}}
{{- with .Params.image -}}
  {{- $img = cond (hasPrefix . "http") . (. | absURL) -}}
{{- else -}}
  {{- with $.Site.Params.defaultImage -}}
    {{- $img = cond (hasPrefix . "http") . (. | absURL) -}}
  {{- end -}}
{{- end -}}

{{- $author := .Site.Params.author -}}
{{- if not $author -}}{{- with .Site.Params.profile -}}{{- $author = .name -}}{{- end -}}{{- end -}}

{{- $sameAs := slice -}}
{{- with .Site.Params.profile -}}{{- range .links -}}{{- if hasPrefix .url "http" -}}{{- $sameAs = $sameAs | append .url -}}{{- end -}}{{- end -}}{{- end -}}

{{- $ogtitle := cond .IsHome .Site.Title .Title -}}

<meta name="description" content="{{ $desc }}">
{{ with $author }}<meta name="author" content="{{ . }}">{{ end }}
<meta name="robots" content="{{ if .Params.private }}noindex, nofollow{{ else }}index, follow{{ end }}">
<link rel="canonical" href="{{ .Permalink }}">

<meta property="og:title" content="{{ $ogtitle }}">
<meta property="og:description" content="{{ $desc }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:locale" content="{{ .Site.Language.Lang | default "en" }}">
{{ with $img }}<meta property="og:image" content="{{ . }}">
<meta property="og:image:alt" content="{{ $ogtitle }}">{{ end }}
{{- if .IsPage }}
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
{{ if not .Lastmod.IsZero }}<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">{{ end }}
{{ with $author }}<meta property="article:author" content="{{ . }}">{{ end }}
{{- end }}

<meta name="twitter:card" content="{{ if $img }}summary_large_image{{ else }}summary{{ end }}">
<meta name="twitter:title" content="{{ $ogtitle }}">
<meta name="twitter:description" content="{{ $desc }}">
{{ with $img }}<meta name="twitter:image" content="{{ . }}">
<meta name="twitter:image:alt" content="{{ $ogtitle }}">{{ end }}
{{ with .Site.Params.twitter }}<meta name="twitter:site" content="@{{ . }}">
<meta name="twitter:creator" content="@{{ . }}">{{ end }}

{{- if .IsPage }}
  {{- $ld := dict
    "@context" "https://schema.org"
    "@type" "BlogPosting"
    "headline" .Title
    "description" $desc
    "url" .Permalink
    "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
    "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
    "dateModified" ((cond .Lastmod.IsZero .Date .Lastmod).Format "2006-01-02T15:04:05Z07:00")
    "publisher" (dict "@type" "Person" "name" .Site.Title) -}}
  {{- with $img }}{{ $ld = merge $ld (dict "image" .) }}{{ end -}}
  {{- with $author }}{{ $ld = merge $ld (dict "author" (dict "@type" "Person" "name" .)) }}{{ end -}}
<script type="application/ld+json">{{ $ld | jsonify | safeJS }}</script>
{{- else }}
  {{- $site := dict "@context" "https://schema.org" "@type" "WebSite" "name" .Site.Title "url" .Site.BaseURL -}}
  {{- with $author }}{{ $site = merge $site (dict "author" (dict "@type" "Person" "name" .)) }}{{ end -}}
<script type="application/ld+json">{{ $site | jsonify | safeJS }}</script>
  {{- if and .IsHome $author }}
    {{- $person := dict "@context" "https://schema.org" "@type" "Person" "name" $author "url" .Site.BaseURL -}}
    {{- with $img }}{{ $person = merge $person (dict "image" .) }}{{ end -}}
    {{- if $sameAs }}{{ $person = merge $person (dict "sameAs" $sameAs) }}{{ end -}}
<script type="application/ld+json">{{ $person | jsonify | safeJS }}</script>
  {{- end }}
{{- end }}
